<%
  active = (typeof active !== 'undefined' ? active : false) ? 'active' : '';
%>

<div role="tabpanel" class="tab-pane nested-doc <%= active %>" id="obj-tab-<%= attr %>" data-options="<%= JSON.stringify(options) %>">
  <input class="nested-result"  type="hidden" id="obj-<%= attr %>" name="obj-<%= attr %>">
  <div class="list-tools">
    <button type="button" class="add-btn btn btn-success" title="<%=t('Add')%>"><%=t('Add')%></button>
    <button type="button" class="delete-btn btn btn-danger" title="<%=t('Delete')%>"><%=t('Delete')%></button>
  </div>
  <table id="nested-table-<%= attr %>" class="table table-bordered table-striped multi-selectable">
    <thead><tr></tr></thead>
    <tbody></tbody>
  </table>
</div>