
<div class="form-group <%= required %>">
  <label for="obj-<%= attr %>" class="col-sm-2 control-label"><%= title %></label>
  <div class="col-sm-10">

    <div class="form-control-box">
      <input type="hidden" class="form-control" id="obj-<%= attr %>" name="obj-<%= attr %>">

      <div class="access-tab">
        <ul class="nav nav-tabs">
          <% for (let type of Object.keys(resourceTypes)) { %>
          <% let item = resourceTypes[type]; %>
          <% if (item) { %>
          <% item.normalType = type.replace(/\:/g, '-') %>
          <% item.normalType = item.normalType.replace(/\*/g, '-') %>
          <li>
            <a href="#nav-<%- item.normalType %>" data-type="<%- type %>" data-toggle="tab">
              <%- item.title || type %>
            </a>
          </li>
          <% }} %>
        </ul>
        <div class="tab-content">
          <% for (let type of Object.keys(resourceTypes)) { %>
          <% let item = resourceTypes[type]; %>
          <% if (item) { %>
          <div class="tab-pane" id="nav-<%- item.normalType %>">
            <div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>
            <div class="checkbox-list"></div>
          </div>
          <% }} %>
        </div>
      </div>
      <div class="checkbox-sub sample">
        <div class="checkbox-item"><label title="Full access"><input class="permission" type="checkbox" value="full">Full access</label></div>
        <div class="checkbox-item"><label title="Read"><input class="permission" type="checkbox" value="read">Read</label></div>
        <div class="checkbox-item"><label title="Write"><input class="permission" type="checkbox" value="write">Edit</label></div>
        <div class="checkbox-item"><label title="Delete"><input class="permission" type="checkbox" value="delete">Deletion</label></div>
        <div class="checkbox-item"><label title="Use"><input class="permission" type="checkbox" value="use">Use</label></div>
      </div>
    </div>
    <p class="error-block"></p>
  </div>
</div>
