<% layout('../layouts/content') -%>

<div>
  <% if (permissions[Permissions.WRITE]) { %>
  <button id="sync-acl" class="btn btn-primary"><%=t('Синхронизация прав доступа')%></button>
  <button id="import-res" class="btn btn-success"><%=t('Импорт ресурсов')%></button>
  <% } %>
</div>

<script>
  jQuery(function () {
    var $loader = $('#global-loader');
    var $aclBtn = $('#sync-acl');
    var $resBtn = $('#import-res');

    $aclBtn.click(function () {
      messageCallout.hide();
      $loader.show();
      $.post('/ionadmin/api/security/sync/sync-acl').done(function () {
        messageCallout.success('<%=t('Синхронизация прав доступа успешно проведена')%>!');
      }).fail(function (xhr) {
        messageCallout.error('<%=t('Произошла ошибка при синхронизации')%>');
      }).always(function () {
        $loader.hide();
      });
    });

    $resBtn.click(function () {
      messageCallout.hide();
      $loader.show();
      $.post('/ionadmin/api/security/sync/import-resources').done(function () {
        messageCallout.success('<%=t('Импорт успешно завершен')%>!');
      }).fail(function (xhr) {
        messageCallout.error('<%=t('Произошла ошибка при импорте ресурсов')%>');
      }).always(function () {
        $loader.hide();
      });
    });

  });
</script>