<ul class="dropdown-menu">
    <li class="header"><%=t('You have ')%>4 <%=t('messages')%></li>
    <li>
        <ul class="menu">
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        <%=t('Support service')%>
                        <small><i class="fa fa-clock-o"></i> 5 <%=t('minute')%></small>
                    </h4>
                    <p><%=t('Development of a new theme for the main panel template')%></p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        <%=t('Team of developers')%>
                        <small><i class="fa fa-clock-o"></i> 2 <%=t('hour')%></small>
                    </h4>
                    <p><%=t('Development of a new theme for the main panel template')%></p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        <%=t('Project managers')%>
                        <small><i class="fa fa-clock-o"></i> <%=t('Today')%></small>
                    </h4>
                    <p><%=t('Coordination of statements and tasks')%></p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        <%=t('Sales department')%>
                        <small><i class="fa fa-clock-o"></i> <%=t('Yesterday')%></small>
                    </h4>
                    <p><%=t('Latest product sales report')%></p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        <%=t('Observer')%>
                        <small><i class="fa fa-clock-o"></i> 2 <%=t('days')%></small>
                    </h4>
                    <p><%=t('New product features')%></p>
                </a>
            </li>
        </ul>
    </li>
    <li class="footer"><a href="ionadmin/messages"><%=t('All messages')%></a></li>
</ul>