<ul class="dropdown-menu">
    <li class="header"><%=t('You have ')%>7 <%=t('notifications')%></li>
    <li>
        <ul class="menu">
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-users text-aqua"></i> <%=t('Today ')%>5 <%=t('new members joined')%>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-warning text-yellow"></i> <%=t('Very long notification')%>, <%=t('that may not fit into the design block and cause display problems')%>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-users text-red"></i> <%=t('Meeting of participants at ')%>10 <%=t('am')%>!
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-shopping-cart text-green"></i> <%=t('Made ')%>25 <%=t('sales')%>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-user text-red"></i> <%=t('You have changed your username')%>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-shopping-cart text-green"></i> <%=t('Made ')%>12 <%=t('sales')%>
                </a>
            </li>
        </ul>
    </li>
    <li class="footer"><a href="ionadmin/notices"><%=t('All notifications')%></a></li>
</ul>