<ul class="dropdown-menu">
    <li class="header"><%=t('У вас ')%>7 <%=t('уведомлений')%></li>
    <li>
        <ul class="menu">
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-users text-aqua"></i> <%=t('Сегодня присоединилось ')%>5 <%=t('новых участников')%>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-warning text-yellow"></i> <%=t('Очень длинное уведомление')%>, <%=t('которое может не поместиться в дизайнерский блок и вызвать проблемы с отображением')%>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-users text-red"></i> <%=t('Собрание участников в ')%>10 <%=t('утра')%>!
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-shopping-cart text-green"></i> <%=t('Сделано ')%>25 <%=t('продаж')%>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-user text-red"></i> <%=t('Вы изменили имя пользователя')%>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-shopping-cart text-green"></i> <%=t('Сделано ')%>12 <%=t('продаж')%>
                </a>
            </li>
        </ul>
    </li>
    <li class="footer"><a href="ionadmin/notices"><%=t('Все уведомления')%></a></li>
</ul>