<ul class="dropdown-menu">
    <li class="header"><%=t('У вас ')%>4 <%=t('сообщения')%></li>
    <li>
        <ul class="menu">
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        <%=t('Служба поддержки')%>
                        <small><i class="fa fa-clock-o"></i> 5 <%=t('минут')%></small>
                    </h4>
                    <p><%=t('Разработка новой темы для основного шаблона панели')%></p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        <%=t('Команда разработчиков')%>
                        <small><i class="fa fa-clock-o"></i> 2 <%=t('часа')%></small>
                    </h4>
                    <p><%=t('Разработка новой темы для основного шаблона панели')%></p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        <%=t('Менеджеры проекта')%>
                        <small><i class="fa fa-clock-o"></i> <%=t('Сегодня')%></small>
                    </h4>
                    <p><%=t('Согласование постановок и задач')%></p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        <%=t('Отдел продаж')%>
                        <small><i class="fa fa-clock-o"></i> <%=t('Вчера')%></small>
                    </h4>
                    <p><%=t('Отчет по последним данным о реализации продукта')%></p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        <%=t('Обозреватели')%>
                        <small><i class="fa fa-clock-o"></i> 2 <%=t('дня')%></small>
                    </h4>
                    <p><%=t('Новые возможности продукта')%></p>
                </a>
            </li>
        </ul>
    </li>
    <li class="footer"><a href="ionadmin/messages"><%=t('Все сообщения')%></a></li>
</ul>