
<li class="treeview">
  <a href="#"><i class="fa fa-lock"></i> <span><%=t('Security')%></span> <i class="fa fa-angle-left pull-right"></i></a>
  <ul class="treeview-menu">
    <li id="sidemenu-item-security-user">
      <a href="ionadmin/security/user"><i class="fa fa-circle-o text-green"></i> <%=t(' Users')%></a>
    </li>
    <li id="sidemenu-item-security-role">
      <a href="ionadmin/security/role"><i class="fa fa-circle-o text-green"></i> <%=t(' Roles')%></a>
    </li>
    <li id="sidemenu-item-security-resource">
      <a href="ionadmin/security/resource"><i class="fa fa-circle-o text-green"></i> <%=t(' Resources')%></a>
    </li>
    <li id="sidemenu-item-security-sync">
      <a href="ionadmin/security/sync"><i class="fa fa-circle-o text-red"></i> <%=t(' Synchronization')%></a>
    </li>
  </ul>
</li>
