<% layout('../layouts/content') -%>

<div class="box">
  <div class="box-body">
    <form class="form form-horizontal view-form" method="post">
      <div class="form-group">
        <label class="control-label col-sm-3"><%=t('Имя пользователя')%></label>
        <div class="col-sm-9">
          <input type="text" name="login" value="<%=login || ''%>" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3"><%=t('Тип учетной записи')%></label>
        <div class="col-sm-9">
          <input type="text" name="type" value="<%=type || ''%>" />
        </div>
      </div>
      <% if (typeof token !== 'undefined') { %>
      <div class="form-group">
        <label class="control-label col-sm-3"><%=t('Токен')%></label>
        <div class="col-sm-9">
          <p><%=token%></p>
        </div>
      </div>
      <% } %>
      <div class="form-group">
        <div class="col-sm-9">
          <button type="submit"><%=t('Сгенерировать токен')%></button>
        </div>
      </div>
    </form>
  </div>
</div>
