
<div class="form-group <%= required %>">
    <label for="obj-<%= attr %>" class="col-sm-2 control-label"><%= title %></label>
    <div class="col-sm-10">
        <div id="ajaxUploader" class="ajax-uploader">
            <input type="hidden" id="obj-<%= attr %>" name="obj-<%= attr %>" data-type="image">
            <div class="ajax-uploader-input">
                <input type="file" class="ajax-uploader-input-file" accept="image/jpeg,image/png,image/gif">
                <div class="ajax-uploader-dropzone">
                    <div class="ajax-uploader-dropzone-h1"><%=t('Drag image here')%></div>
                    <div class="ajax-uploader-dropzone-h2"><%=t('or select from a folder')%></div>
                </div>
            </div>
            <ul class="ajax-uploader-list clearfix">
                <li class="ajax-uploader-item sample" style="display:none;">
                    <div class="ajax-uploader-thumb"><img src=""></div>
                    <div class="ajax-uploader-info-wrapper">
                        <div class="ajax-uploader-info-container">
                            <div class="ajax-uploader-info"></div>
                        </div>
                    </div>
                    <div class="ajax-uploader-remove photo-thumb-control" title="<%=t('Delete')%>">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </div>
                    <div class="ajax-uploader-progress-bar">
                        <div class="ajax-uploader-progress-fill"></div>
                    </div>
                </li>
            </ul>
        </div>
        <p class="error-block"></p>
    </div>
</div>